@page
@model RazorPagesExample.Pages.Forms.AddModel
@{
    ViewData["Title"] = "Add Person";
}

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Town"></label>
        <input asp-for="Town" class="form-control" />
        <span asp-validation-for="Town" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-success"/>
</form>
